# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Conda / environments
.env
.venv
env/
venv/

# Temporary files
*.tmp
*.temp
*.log
*.swp
*~

# Sistem
.DS_Store

# Results (datos generados) & intermediate data
results/*
!results/*/runlog.txt
interm-data/

# Inputs
raw-data/*.gtf

# Scripts
alphagenome_key.py

# Docs
docs/evidencia-kanban.txt
